h1{
  font-size: 3rem;
  text-align:center;
}

.game-container,.score-board, .live-update-container{
  width:80%;
  margin:2rem auto;
  display:flex;
  gap:2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

hr{
  width: 80%;
  border-width: 1rem;
  border-color: black;
}
.cards{
  border:2px solid black;
  padding:3rem;
  font-size: 4rem;
  cursor:pointer;
}

.cards:hover{
  box-shadow: 20px 20px 0 black;
  border-radius: 1rem;
}


.player-score{
  font-size: 2rem;
}

.computer-score{
    font-size: 2rem;


}

.reset-btn-container{
  display:flex;
  justify-content: center;
  align-items: center;
}
.reset-btn-container button{
  background-color: black;
  color: white;
  font-size: 2rem;
  padding:1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.reset-btn-container button:hover{
  border:5px solid black;
  background-color: white;
  color:black;

}